:root {
  --first-color: #132743;
  --second-color: #ffd6d6;
  --third-color: #ffb5b5;
  --btn-color: #254555;
}

* {
  font-family: 'Montserrat', sans-serif;
  color: var(--second-color) !important;
}

body {
  background-color: var(--first-color) !important;
}

section#filters-container {
  height: 100vh;
}

.cs-btn, .cs-btn:hover, .cs-btn:focus, .cs-btn:active {
  background-color: var(--btn-color) !important;
}

ul li {
  width: 200px;
  height: 100px;
  padding: 20px;
}

ul li label {
  font-weight: bold;
  width: 180px;
  background-color: var(--third-color);
  border-radius: 10px;
  padding: 10px 20px;
  color: var(--first-color) !important;
}